<h2>New Company</h2>

{{#object-form for=model action="createCompany" formClass="form-horizontal" buttonLabel="Create Company"}}
  {{form-field for='name' label="Company Name"}}
  {{form-field for='website'}}
{{/object-form}}
