---
http_interactions:
- request:
    method: post
    uri: https://api35.semantria.com/document?oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5&oauth_nonce=20991635376032678725&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412721154&oauth_version=1.0
    body:
      encoding: UTF-8
      string: '{"id":"7ee836a0-6029-4634-abaa-250be2356e9a","text":"Some text to analyse"}'
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1412721154,oauth_nonce=20991635376032678725,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5,OAuth
        realm=,oauth_signature=o738DO2Yk2nzsI0KhoprID5zHj4%3D
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Oct 2014 22:32:35 GMT
- request:
    method: get
    uri: https://api35.semantria.com/document/7ee836a0-6029-4634-abaa-250be2356e9a.json?oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5&oauth_nonce=24362336500886212995&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412721165&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1412721165,oauth_nonce=24362336500886212995,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5,OAuth
        realm=,oauth_signature=TVz6q83c2Bqva50tTQ6uL6qAywA%3D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"language":"English","id":"7ee836a0-6029-4634-abaa-250be2356e9a","status":"PROCESSED","summary":"Some
        text to analyse... ","sentiment_score":0.0,"sentiment_polarity":"neutral","config_id":"5a11ccd3-8b41-445b-974b-b7f7e2aca56b","source_text":"Some
        text to analyse","language_score":2.0}'
  recorded_at: Tue, 07 Oct 2014 22:32:46 GMT
recorded_with: VCR 2.9.3
