---
http_interactions:
- request:
    method: post
    uri: https://api35.semantria.com/document?oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5&oauth_nonce=87799265060088606703&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1416348096&oauth_version=1.0
    body:
      encoding: UTF-8
      string: '{"id":"7ee836a0-6029-4634-abaa-250be2356e9a","text":"What a great piece
        of software"}'
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1416348096,oauth_nonce=87799265060088606703,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5,OAuth
        realm=,oauth_signature=pkfH%2FN%2BqW5DbbFTGjFgUtUvhz08%3D
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 18 Nov 2014 22:01:37 GMT
- request:
    method: get
    uri: https://api35.semantria.com/document/7ee836a0-6029-4634-abaa-250be2356e9a.json?oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5&oauth_nonce=86811789635740086070&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1416348117&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - oauth_version=1.0,oauth_timestamp=1416348117,oauth_nonce=86811789635740086070,oauth_signature_method=HMAC-SHA1,oauth_consumer_key=9ca68ae2-c2f1-4eed-be4f-b93f2dfdedb5,OAuth
        realm=,oauth_signature=AUpsjAyKY9Z4posyuHk0RTO5m3Y%3D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"language":"English","id":"7ee836a0-6029-4634-abaa-250be2356e9a","status":"PROCESSED","themes":[{"sentiment_score":0.6,"strength_score":1.0,"title":"great
        piece","sentiment_polarity":"positive","evidence":4,"is_about":true}],"phrases":[{"type":"detected","sentiment_score":0.6,"title":"great","sentiment_polarity":"positive","is_negated":false,"is_intensified":false}],"summary":"What
        a great piece of software... ","auto_categories":[{"type":"node","categories":[{"type":"concept","strength_score":0.53317034,"title":"Revision_control"},{"type":"concept","strength_score":0.50208026,"title":"Source_code"}],"strength_score":0.72557276,"title":"Computer_Science"},{"type":"node","categories":[{"type":"concept","strength_score":0.5370734,"title":"Semantic_wikis"}],"strength_score":0.72028136,"title":"Internet"},{"type":"node","categories":[{"type":"concept","strength_score":0.55195427,"title":"Computer_occupations"}],"strength_score":0.7068586,"title":"IT"}],"sentiment_score":0.6,"sentiment_polarity":"positive","topics":[{"type":"concept","hitcount":0,"sentiment_score":0.6,"strength_score":0.76782453,"title":"Software
        and Internet","sentiment_polarity":"positive"},{"type":"concept","hitcount":0,"sentiment_score":0.6,"strength_score":0.45223752,"title":"Hardware","sentiment_polarity":"positive"}],"config_id":"5a11ccd3-8b41-445b-974b-b7f7e2aca56b","source_text":"What
        a great piece of software","language_score":5.0}'
  recorded_at: Tue, 18 Nov 2014 22:01:58 GMT
recorded_with: VCR 2.9.3
